@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import '../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';
@font-face {
  font-family: "Orkley";
  src: url(https://firebasestorage.googleapis.com/v0/b/startupapparatus.appspot.com/o/Orkney-Regular.ttf?alt=media&token=6c5b9ea6-330a-4dbf-97ec-ac74d595a30e)
    format("truetype");
}

$font-paragraph: "Orkley", sans-serif;
$font-mono: "PT Mono", monospace;

$desktop: 720px;
$hd: 1080px;

body{
  margin: 0;
}

.footer .header-box {
  width: 100%;
}
.footer h3 {
  font: 100% $font-mono;
  font-family: "PT Mono" monospace;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  background: white;
  margin-bottom: 0.3rem;
  padding-left: 5%;
  @include breakpoint($desktop) {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 18%;
  }
  @include breakpoint($hd) {
    font-size: 3rem;
  }
}

.footer h4 {
  margin: auto;
  background: #E8402E;
  color: white;
  text-align: center;
  max-width: 9rem;
  margin-top: 2rem;
  padding: 0.3rem;
  padding-left: 0.07rem;
  padding-right: 0.07rem;
  font-size: 1.0rem;
  font-weight: 100;
  @include breakpoint($desktop) {
    font-size: 1.3rem;
  }

}

.footer p {
  padding: 1rem;
  max-width: 30rem;
  margin: auto;
  line-height: 1.6;
  margin-top: 2rem;
  padding-bottom: 4rem;
  @include breakpoint($desktop) {
    padding-top: 1rem;
    text-align: center;
  }
}



.footer .members {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .profile-container {
  width: 15%;
  margin: 1rem
}
.footer .profile-text {
  font: 100% $font-paragraph;
  font-size: 1.1rem;
  margin-top: 5rem;
  width: 300%;
  margin: auto;
}
.footer .profile-text-container {
  margin-top: 2rem;
  transform: rotate(-90deg);
  margin-bottom: 55%;
}
.footer .profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100px;
}